body{
	color: white;
	font-family:  "Raleway", san_serif;
	text-shadow: !px !px !5px black;

	background: 
		linear-gradient(
			rgba(17, 126, 112, 0.75)
			rgba(0, 88, 255, 0.45)
		) ,
	url(../images/eunice.jpg);
	
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
.container{
	display: flex;
	align-items: center;
	width: 75%;
}
.overview{
	padding: 3rem;
}
.fullname{
	font-weight: 300;
	font-spacing: 3px;
	margin-bottom: 5rem;
}
.jobtitle{
	color: #ffc107;
	text-transform: uppercase;
	margin margin-bottom: 1rem;
	font-weight: bolder;
}

hr{
	width: 5rem;
	border: none;
	height: 2px;
	background-color: #00BC;

}